/*        main      */

.screen .main {
    width: 400px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 270px;
    transition: 0.4s;
    z-index: 1;
}

.screen .main.active {
    left: 70px;
}

.screen .main .open_menu {
    display: none;
}


@media (max-width:470px) and (min-width:450px) {

    .screen .main.active,
    .screen .main {
        width: calc(100% - 70px);
    }
}

@media (max-width:450px) {

    .screen .main.active,
    .screen .main {
        width: 100%;
        z-index: 2;
        left: 0px;
    }

    .screen .main .open_menu {
        display: block;
    }

    .screen .main.active.open,
    .screen .main.open {
        left: calc(100% - 140px);
        transform: scale(0.95) rotateZ(-2deg);
        box-shadow: 0 0 15px rgb(0 0 0 / 50%);
        border-radius: 5px;
    }
}

@media (max-width:345px) {

    .screen .main.active.open,
    .screen .main.open {
        left: calc(100% - 50px);
    }
}


.screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.main .top {
    position: relative;
    width: 100%;
    min-height: 120px;
    background: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #1B224A;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
    color: white;
}

.main .de {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    justify-content: space-between;
    padding: 0 15px;
}

.main .de h3 {
    font-size: 23px;
    font-family: 'Pushster', cursive;
    letter-spacing: 2px;
    font-weight: 500;
}

.main .open_menu {
    cursor: pointer;
    font-size: 20px;
}

.main .pro {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-image: url(https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
}

.main .top .name {
    width: 100%;
    position: relative;
    padding-left: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

.main .top .but {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px 15px;
    background-color: rgb(0, 102, 255, 0.8);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%, 50%);
    transition: 0.4s;
    letter-spacing: 2px;
    font-size: 13px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    outline: none;
    border: none;
}

.main .top .but:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}

.main .top .but i {
    margin-right: 4px;
}

.top .bell {
    position: absolute;
    bottom: -10px;
    color: #1B224A;
    font-size: 20px;
    right: 20px;
    transform-origin: top;
    transition: 0.4s;
    cursor: pointer;
    display: none;
}

@media (max-width:450px) {
    .top .bell.active {
        -webkit-animation: ring 1.5s linear infinite;
        display: block;
    }

    @keyframes ring {

        0%,
        100% {
            transform: rotateZ(0deg);
        }

        25% {
            transform: rotateZ(-30deg);
        }

        50% {
            transform: rotateZ(0deg);
        }

        75% {
            transform: rotateZ(30deg);
        }
    }
}

.main .container {
    width: calc(100% - 3px);
    height: calc(100% - 150px);
    margin-top: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right:3px;
    padding-left:6px;
    position:relative;
}

.container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

.container::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    width:5px;
    border-radius:5px;
    background-color:#1B224A;
}



/*        main      */
