/*        side     */

.screen .side {
    width: 270px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    backdrop-filter: sepia(1);
    -webkit-backdrop-filter: sepia(1);
    background-image: linear-gradient(to right, rgb(0, 102, 255, 0.8), rgb(0, 102, 255, 0.5));
    box-shadow: 2px 0 3px rgb(0, 102, 255, 0.5);
    padding: 20px 0 10px 10px;
    position: absolute;
    left: 0;
    transition: 0.4s;
    z-index: 2;
}

.screen .side.active {
    width: 70px;
    background-image: linear-gradient(to right, rgb(0, 102, 255, 0.8), rgb(0, 102, 255, 0.8));
}

.side .page {
    width: 250px;
    margin: 5px 0;
    cursor: pointer;
    justify-content: flex-start;
    height: 50px;
    color: black;
    font-weight: 700;
    transition: 0.4s;
    letter-spacing: 0px;
    position: relative;
}

.side .page.active {
    color: white;
    font-weight: 700;
}

.side .page .one,
.side.active .page .two {
    display: block;
}

.side .page .two,
.side.active .page .one {
    display: none;
}

.side .page i {
    font-size: 20px;
    margin-right: 15px;
    width: 50px;
    text-align: center;
}

.side .page::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 20px;
    border-radius: 4px;
    background-color: white;
    top: 50%;
    left: 0%;
    transform: translate(-2px, -50%);
    opacity: 0;
    transition: 0.4s;
}

.side .page.noti::before {
    opacity: 1;
}

.side span {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}

.side .page.active span {
    letter-spacing: 2px;
}

.side label {
    margin: 0 10px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
}

.side::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

@media (max-width:450px) {

    .screen .side.active,
    .screen .side {
        width: 100%;
        z-index: 1;
        background-image: linear-gradient(to right, rgb(0, 102, 255, 0.8), rgb(0, 102, 255, 0.5));
    }

    .side .page::before,
    .side.active .page::before,
    .side .page.noti::before,
    .side.active .page.noti::before {
        opacity: 0;
    }

    .side .page.noti::before {
        opacity: 1;
    }
}

/*        side     */
