
.side {
    display: flex;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    flex-direction: column;
    width:300px;
    left: 0;
    justify-content: flex-start;
    padding:0px 0px 25px 25px;
    background-color: #1B224A;
    transition: 0.4s;
}

.side::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

.side .me {
    height: 60px;
    margin: 20px 0 10px 0;
    justify-content: flex-start;
    cursor:pointer;
}

.side .me .pro_dp {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.side .me .name {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    width: calc(100% - 10px - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.side .label {
    width: 100%;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    cursor: pointer;
    color: white;
}

.side .page{
    padding:10px 0;
    cursor:pointer;
}

.side .page i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    opacity: 0.5;
    transition: 0.4s;
    color: white;
}

.side .page span {
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    opacity: 0.5;
    transition: 0.4s;
    color: white;
}

.side .page.active i,
.side .page.active span {
    color: #C7DFC1;
    opacity: 1;
}

.side .page label {
    font-size: 13px;
    margin-left: 10px;
    color: #C7DFC1;
    font-weight: bold;
    letter-spacing: 2px;
}
