*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    --yellow : #f2d14d;
    font-family: Poppins,sans-serif;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
    width:100vw;
    overflow-x: hidden;
    position: relative;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

/* home  */
#home{
    position: relative;
    width:100%;
    min-height:90vh;
    overflow: hidden;
    padding-right:20%;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../stock/bg.png');
    background-attachment: fixed;
    background-size: cover;
}
#home img{
    position: absolute;
    bottom:0px;
    left:50px;
    height:90vh;
    filter:drop-shadow(0 0 4px rgb(0,0,0,0.3));
    z-index:1;
}
#home div{
    z-index: 2;
    position: relative;
    width:400px;
    max-width:calc(100% - 20px);
    padding:20px;
}
#home div h1{
    font-family: "Wallpoet", sans-serif;
    margin-bottom:10px;
    font-size:70px;
    transition:0.5s;
}
#home div p:nth-child(2){
    font-size:25px;
    font-family: "Cagliostro", sans-serif;
    color: white;
    margin-bottom:30px;
}
#home div a{
    margin:30px 0 20px 0;
    color: white;
    text-decoration: none;
}
#home div span{
    padding:20px;
    cursor: pointer;
    transition:0.5s;
    background-color:black;
}
#home div span i{
    margin-left:20px;
    transform:scale(1.4) rotateZ(-45deg);
}
@media (max-width:1033px){
    #home{
        padding-right:20px;
    }
}
@media (max-width:830px){
    #home{
        justify-content: center;
    }
    #home div{    
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        border:1px solid white;
    }
}
@media (max-width:420px) {
    #home div h1{
        font-size:45px;
    }
}
/* home */


/* login */

#login{
    width:100%;
    background-color: black;
    padding:20px;
    padding-left:50px;
    position: relative;
}
#login .form{
    display:flex;
    flex-direction:row;
    gap:10px;
    backdrop-filter:brightness(0.35);
}
#login .form input{
    padding:10px 20px 5px 0;
    font-size:15px;
    color: var(--yellow);
    background:none;
    outline: none;
    border:2px solid transparent;
    transition:0.5s;
    border-bottom: 2px solid var(--yellow);
    position: relative;
}
#login .form input::placeholder{
    color: white;
}
#login .form button{
    background-color: var(--yellow);
    padding:10px;
    font-size: 15px;
    cursor: pointer;
    outline:none;
    border: none;
}
#login .form button i{
    margin-left: 10px;
}
@media (max-width:630px) {
    #login{    
        padding:20px;
        background-image: url("../stock/lock.png");
        background-size:300px;
        background-repeat: no-repeat;
        background-position:50% 50%;
    }
    #login img{
        opacity:0.2;
    }
    #login .form{
        height:300px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #login .form input{
        width:240px;   
    }
    #login .form button{
        margin-top:30px;
        width:120px;
    }
}

/* login */


/* plans */

#plans{
    position: relative;
    width:100%;
    padding:20px;
    align-items: center;
    background-color: var(--yellow);
}
#plans h1{
    font-family: "Spicy Rice", serif;
    font-size:35px;
    font-weight:400;
    margin:10px 0;
}
#plans select{
    padding:10px;
    width:150px;
    font-size:12px;
    background-color: black;
    color: white;
}
#plans .scrollPlans{
    margin:40px 0;
    width:100%;
    height:440px;
    position: relative;
    overflow-x: scroll;
    overflow-y: visible;
}
#plans .scrollPlans::-webkit-scrollbar{
    appearance: none;
    height:0;
    -webkit-appearance: none;
}
#plans .scrollPlans .box{
    padding:0 60px;
    gap:40px;
    flex-direction: row;
    width: calc(350px*4 + 100px);
}
#plans .scrollPlans .card{
    width:350px;
    height:420px;
    background-color: black;
    box-shadow: 10px 10px 15px rgb(0,0,0,0.25);
    color: white;
    padding:20px 20px 20px 30px;
}
#plans .scrollPlans .card h2{
    font-size: 35px;
    margin-bottom: 10px;
}
#plans .scrollPlans .card label{
    text-align: right;
    padding-right:10px;
}
#plans .scrollPlans .card label i{
    font-size:30px;
}
#plans .scrollPlans .card label span{
    color: var(--yellow);
    font-size: 30px;
    font-style: oblique;
    font-weight:bold;
    margin-left:10px;
}
#plans .scrollPlans .card ul{
    list-style: none;
}
#plans .scrollPlans .card ul li{
    margin:10px 0;
    opacity:0.5;
}
#plans .scrollPlans .card ul li.active{
    opacity:1;
}
#plans .scrollPlans .card button{
    width:120px;
    cursor: pointer;
    color: black;
    background-color:var(--yellow);
    outline: none;
    border: none;
    padding:10px;
    font-size:15px;
    margin-top:10px;
}
@media (max-width:653px){
    #plans .scrollPlans .box{
        padding:0 20px 0 10px;
    }
}

/* plans */

/* about */

#about{
    width:100%;
    background-color: white;
    position: relative;
    align-items: center;
    padding:20px;
}
#about h1{
    font-family: "Spicy Rice", serif;
    font-size:35px;
    font-weight:400;
    margin:10px 0;
    letter-spacing:1px;
}
#about .scrollUs{
    margin:30px 0 10px 0;
    width:100%;
    height:180px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}
#about .scrollUs::-webkit-scrollbar{
    appearance: none;
    height:0;
    -webkit-appearance: none;
}
#about .scrollUs .box{
    padding:0 60px;
    gap:40px;
    flex-direction: row;
    width: calc(350px*4 + 100px);
}
#about .scrollUs .card{
    width:350px;
    height:180px;
    align-items: center;
}
#about .scrollUs .card p{
    margin-top: 20px;
    text-align:center;
}
#about .scrollUs.imgs{
    width:100%;
    height:400px;
}
#about .scrollUs.imgs .card{
    width: auto;
}
#about .scrollUs.imgs img{
    height:400px;
}
#about .scrollUs.imgs .box {
    width:calc(510px * 4);
}
@media (max-width:653px){
    #about .scrollUs .box{
        padding:0 20px 0 10px;
    }
}

/* about */

/* reviews */

#reviews{
    width:100%;
    background-color: white;
    position: relative;
    align-items: center;
    padding:20px;
}
#reviews h1{
    font-family: "Spicy Rice", serif;
    font-size:35px;
    font-weight:400;
    margin:10px 0;
    letter-spacing:1px;
}
#reviews .scrollReviews{
    margin:30px 0 10px 0;
    width:100%;
    height:180px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}
#reviews .scrollReviews::-webkit-scrollbar{
    appearance: none;
    height:0;
    -webkit-appearance: none;
}
#reviews .scrollReviews .box{
    padding:0 60px;
    gap:40px;
    flex-direction: row;
    width: calc(350px*6 + 100px);
}
#reviews .scrollReviews .card{
    width:350px;
    height:180px;
    background-color:#fbf1c9;
    border-radius: 20px;
    padding:20px;
}
#reviews .scrollReviews .card h2{
    font-size:19px;
    letter-spacing:1px;
}
#reviews .scrollReviews .card p{
    font-size: 15px;
    margin-top:10px;
}
@media (max-width:653px){
    #reviews .scrollReviews .box{
        padding:0 20px 0 10px;
    }
}

/* reviews */

/* contact */

#contact{
    width:100%;
    background-color: black;
    position: relative;
    align-items: center;
    padding:20px;
}
#contact h1{
    font-family: "Spicy Rice", serif;
    font-size:35px;
    font-weight:400;
    margin:10px 0;
    color: var(--yellow);
    letter-spacing:1px;
}
#contact .con{
    margin-top:10px;
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
#contact .con a{
    cursor: pointer;
    color: var(--yellow);
}
#contact .con img{
    width:300px;
}
@media (max-width:840px){
    #contact .con img{
        width:250px;
    }
}
@media (max-width:650px){
    #contact .con{
        flex-direction: column;
        justify-content: space-between;
    }
    #contact .con img{
        margin-top:20px;
    }
}
/* contact */
