/*        logo     */

.logo {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 4;
}

.logo h1 {
    font-size: 350px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.logo.active {
    -webkit-animation: opa1 1.5s forwards;
    -webkit-animation-delay: 1.5s;
}

@keyframes opa1 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*        logo     */
